.car{
    background-color: rgba($color: #000000, $alpha: 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    cursor: pointer;
    img{
        height: 16rem;
        border-radius: 5px;
    }
    h1{
        color: red;
        font-size: 1.2rem;
    }
    h2{
        color: $primary-color;
        font-weight: 400;
        font-size: 0.9rem;
    }
    .icon{
        height: 1.2rem;
        width: 1.2rem;
    }
    .location{
        display: flex;
        align-items: center;
        color: rgba($color: #000000, $alpha: 0.6);
        font-size: 0.8rem;
        font-weight: 600;
    }
    .time{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        color: rgba($color: #000000, $alpha: 0.6);
    }
    
}