nav{ position: sticky;
    top: 0px;
    background-color: white;
    z-index: 999;
    display: flex;
    align-items: center;
    min-height: 88px;
    justify-content: space-between;
    padding-inline: 8vw;
    .nav-left{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .logo{
            background: linear-gradient(45deg ,#20BF55,#01BAEF);
            height: 2rem;
            width: 2rem;
            color: white;
            border-radius:10px;
            background-color: #01BAEF;
        }
        h1{
            font-size: 1rem;
            font-weight: 600;
        }

    }
    .nav-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        ul{
            display: flex;
            gap: 1rem;
            list-style-type: none;
            li{
                font-size: 0.8rem;
                font-weight: 500;
        }
    }
        .login{
            padding:0.5rem;
            padding-inline: 3rem;
            border-radius: 10px;
            border: none;
            background:linear-gradient(45deg ,#20BF55,#01BAEF);
            color: white;
            background-color: #01BAEF;
          
            .login-text {
                color: white;  
                text-decoration: inherit;
            }
        }
    }
    }
