.signup-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba($color: #000000, $alpha: 0.1);
    min-height: 100vh;
    .container{
        background-color:white;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 2rem;
        width:25%;
        input{
            background-color:  rgba($color: #000000, $alpha: 0.08);
            border: none;
            padding: 0.9rem;
        }

        button{
            background-color: $primary-color;
            border: none;
            padding: 0.85rem;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }
        p{
            font-size: 0.8rem;
            font-weight: 700;
            text-align: center;
            color: rgba($color: #000000, $alpha: 0.5);

            .signup{
                color: $primary-color;
                text-decoration: none;
            }
        }
        }

}